/* style.css */

/* 공통 스타일 */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: whitesmoke;
}

.container {
    width: 80%;
    margin: auto;
}

/* 제목 스타일 */
h1 {
    text-align: center;
    margin-top: 20px;
    color: #007bff;
}

h2, h3 {
    color: #004085;
}

/* 구분선 스타일 */
hr {
    border: 1px solid #007bff;
    margin-top: 10px;
}

/* 내비게이션 메뉴 스타일 */
nav {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; /* 메뉴를 오른쪽 정렬 */
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: right; /* 네비게이션 메뉴를 우측 정렬 */
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px;
}

nav ul li a:hover {
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
}

/* 취미, 꿈 영역 스타일 */
.hobby-dream-container {
    display: flex; /* Flexbox 사용 */
    justify-content: space-between; /* 각 요소를 동일한 간격으로 분산 배치 */
    margin-top: 20px; /* 위쪽 여백 설정 */
}

.hobby-dream-container div {
    width: 48%; /* 각 요소의 너비 설정 */
    padding: 10px; /* 내부 여백 설정 */
}

/* 책 이미지 스타일 */
.book-image {
    width: 150px; /* 이미지 너비 설정 */
    height: 200px; /* 이미지 높이 */
    margin: 20px; /* 이미지 사이 여백 설정 */
}

/* 책 목록 스타일 */
.book-list {
    display: flex; /* Flexbox 사용하여 요소들을 한 줄에 나열 */
    flex-wrap: wrap; /* 요소들이 한 줄에 다 담기지 않을 경우 줄바꿈 */
}

/* 책 아이템 스타일 */
.book-item {
    text-align: center; /* 가운데 정렬 */
}

a {
    text-decoration: none; /* 링크에 대한 밑줄 제거 */
}
/* 책 제목 스타일 */
.book-title {
    color: red; /* 글자색 */
    padding: 1px 2px; /* 여백 설정 */
    border: 2px solid red; /* 테두리 스타일 */
    border-radius: 10px; /* 테두리 둥글게 만듦 */
    border-spacing: 5px;
    border-collapse: separate;
    margin: 5px;
}

.book-title:hover {
    background-color: red; /* 호버 시 배경색 */
    color: white; /* 호버 시 글자색을 흰색으로 변경 */
    font-weight: bold; /* 호버 시 글자를 굵게 설정 */
}

/* 시간표 스타일 */
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #dee2e6;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #007bff;
    color: #fff;
}

/* 마우스 호버 시 셀 스타일 변경 */
td:hover {
    background-color: #007bff;
    color: #fff;
}

  .btn-svg { 
    position:relative; 
    height:36px;  
    padding: 0; 
    border:0; 
    background:transparent;
  }
  .btn-svg svg rect{ 
    fill:transparent; 
    stroke: #ffd24d; 
    stroke-width:2px; 
    stroke-dashoffset:240%; 
    stroke-dasharray: 330% 18; 
    transition: 2s;
  } 
  .btn-svg:hover svg rect { 
    stroke-dashoffset: -110% !important 
  } 
  .btn-svg .btn-text{ 
    position: absolute; 
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    color: #525252; 
    line-height: 36px; 
  }

  .scroll-to-top {
    display: scroll;
    position: fixed;
    bottom: 10px;
    right: 5px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 10px 20px;
    border-radius: 5px;
}

.scroll-to-top:hover {
    background-color: #0056b3;
}

.fade-in-text {
    opacity: 0;
    animation: fadeIn 1.5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

footer {
    text-align: center;
    margin-top: 20px;
}

h5.fade-in-text {
    animation: fadeIn 2s forwards; /* fade-in-text 클래스에 fadeIn 애니메이션 적용 */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

  